@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: -box;
}

body {
  padding-top: 50px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

/* amazon button */
.amazon-button-css {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-family: "Amazon Ember", Arial, sans-serif;
  outline: 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.amazon-button-css:active {
  border-bottom-color: #a2a6ac;
}

.amazon-button-css:active:hover {
  border-bottom-color: #a2a6ac;
}

.amazon-button-css:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.amazon-button-css:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
  outline: 0;
}

.cards-css {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}

.card-css {
  border: 2px solid rgb(49, 161, 198);
}

.stretched-out {
  margin-left: -1rem;
  margin-right: -1rem;
}

.swiper-box {
  position: relative;
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 2;
}

.left-gradient {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

.right-gradient {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}
